# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/

# Environments
.env
.venv/
venv/
.env.*

# IDE
.vscode/
.idea/

# Data / results
data/*
!data/.gitkeep
results/*
!results/.gitkeep
analysis_results/*
!analysis_results/.gitkeep
!analysis_results/*.png


# Jupyter
.ipynb_checkpoints/
